[Desktop Entry]
Name=kusabilitysurvey
Name[ast]=kusabilitysurvey
Name[bg]=kusabilitysurvey
Name[bs]=kusabilitysurvey
Name[ca]=kusabilitysurvey
Name[ca@valencia]=kusabilitysurvey
Name[cs]=kusabilitysurvey
Name[da]=kusabilitysurvey
Name[de]=kusabilitysurvey
Name[el]=kusabilitysurvey
Name[en_GB]=kusabilitysurvey
Name[eo]=kusabilitysurvey
Name[es]=kusabilitysurvey
Name[et]=kusabilitysurvey
Name[fi]=kusabilitysurvey
Name[fr]=kusabilitysurvey
Name[ga]=kusabilitysurvey
Name[gl]=kusabilitysurvey
Name[hu]=kusabilitysurvey
Name[it]=kusabilitysurvey
Name[ja]=kusabilitysurvey
Name[kk]=kusabilitysurvey
Name[km]=kusabilitysurvey
Name[ko]=kusabilitysurvey
Name[lv]=kusabilitysurvey
Name[nb]=kusabilitysurvey
Name[nds]=kusabilitysurvey
Name[nl]=kusabilitysurvey
Name[nn]=kusabilitysurvey
Name[pa]=kusabilitysurvey
Name[pl]=kusabilitysurvey
Name[pt]=kusabilitysurvey
Name[pt_BR]=kusabilitysurvey
Name[ro]=kusabilitysurvey
Name[ru]=kusabilitysurvey
Name[sq]=kusabilitysurvey
Name[sr]=kusabilitysurvey
Name[sr@ijekavian]=kusabilitysurvey
Name[sr@ijekavianlatin]=kusabilitysurvey
Name[sr@latin]=kusabilitysurvey
Name[sv]=kusabilitysurvey
Name[tr]=kusabilitysurvey
Name[ug]=kusabilitysurvey
Name[uk]=kusabilitysurvey
Name[x-test]=xxkusabilitysurveyxx
Name[zh_CN]=kusabilitysurvey
Name[zh_TW]=kusabilitysurvey
Comment=Plasma kusabilitysurvey
Comment[ast]=Plasma kusabilitysurvey
Comment[bs]=Plazma kusabilitysurvey
Comment[ca]=Plasma kusabilitysurvey
Comment[ca@valencia]=Plasma kusabilitysurvey
Comment[cs]=Plasma kusabilitysurvey
Comment[da]=Plasma kusabilitysurvey
Comment[de]=Plasma kusabilitysurvey
Comment[el]=Plasma kusabilitysurvey
Comment[en_GB]=Plasma kusabilitysurvey
Comment[eo]=Plasma kusabilitysurvey
Comment[es]=Plasma kusabilitysurvey
Comment[et]=Plasma kusabilitysurvey
Comment[fi]=Plasma kusabilitysurvey
Comment[fr]=Plasma kusabilitysurvey
Comment[ga]=Plasma kusabilitysurvey
Comment[gl]=Plasma kusabilitysurvey
Comment[hu]=Plasma kusabilitysurvey
Comment[it]=Plasma kusabilitysurvey
Comment[ja]=Plasma kusabilitysurvey
Comment[kk]=Plasma kusabilitysurvey
Comment[km]=ប្លាស្មា kusabilitysurvey
Comment[ko]=Plasma kusabilitysurvey
Comment[lv]=Plasma kusabilitysurvey
Comment[nb]=Plasma kusabilitysurvey
Comment[nds]=Plasma kusabilitysurvey
Comment[nl]=Plasma kusabilitysurvey
Comment[nn]=Plasma kusabilitysurvey
Comment[pa]=ਪਲਾਜ਼ਮਾ kusabilitysurvey
Comment[pl]=Plazma kusabilitysurvey
Comment[pt]=Plasma kusabilitysurvey
Comment[pt_BR]=Plasma kusabilitysurvey
Comment[ro]=Plasma kusabilitysurvey
Comment[ru]=Plasma kusabilitysurvey
Comment[sq]=Plasma kusabilitysurvey
Comment[sr]=Плазмин kusabilitysurvey
Comment[sr@ijekavian]=Плазмин kusabilitysurvey
Comment[sr@ijekavianlatin]=Plasmin kusabilitysurvey
Comment[sr@latin]=Plasmin kusabilitysurvey
Comment[sv]=Plasma kusabilitysurvey
Comment[tr]=Plasma kusabilitysurvey
Comment[uk]=Плазма kusabilitysurvey
Comment[x-test]=xxPlasma kusabilitysurveyxx
Comment[zh_CN]=Plasma kusabilitysurvey
Comment[zh_TW]=Plasma kusabilitysurvey
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kusabilitysurvey
X-KDE-PluginInfo-Author=Jonathan Perichon
X-KDE-PluginInfo-Email=jonathan.perichon@gmail.com
X-KDE-PluginInfo-Name=kusabilitysurvey
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=boost-spirit
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

